.section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/public/images/bg2.png');
    background-position: center;
    background-size: cover;
    min-width: 320px;
    gap: 30px;
    position: relative;
    padding: 120px 20px;
}

.section-wrapper::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(4, 15, 1, 0.785);
}

.section-wrapper::after {
    position: absolute;
    content: "";
    background-image: url('/public/images/bgIcon.png');
    background-repeat: repeat;
    inset: 0;
}

.section-wrapper h1 {
    font-size: clamp(32px, 0.333rem + 2.667vw, 48px);
    font-weight: 600;
    line-height: 57px;
    max-width: 996px;
    position: relative;
    z-index: 1;
}

.section-wrapper p {
    font-size: clamp(16px, 0.167rem + 1.333vw, 24px);
    font-weight: 300;
    line-height: 24px;
    position: relative;
    z-index: 1;
    max-width: 996px;
    text-align: center;
}
