.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    grid-template-areas: "l n b";
    align-items: center;
    line-height: 1;
    font-weight: 500;
}

.header__logo {
    grid-area: l;
}

.header__nav {
    grid-area: n;
    display: flex;
    justify-content: center;
    max-width: 600px;
    min-height: 55px;
    flex-wrap: wrap;
    align-items: center;
}

.header__nav a {
    font-size: 18px;
    text-align: center;
    padding: 14px 15px;
}

.header__nav a:hover {
    background-color: #262626;
    border-radius: 8px;
}
